footer {
    background-color: var(--color-white);
    .contenuFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 200px;
        .clickMoi {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                margin: 0;
            }
        }

        .media {
            .icon {
                color: black;
            }
        }
    }

    .copyright {
        background-color: var(--color-primary);
        p {
            margin: 0;
            padding: var(--spacing-xs);

            font-family: var(--font-secondary);
            font-weight: 700;
        }
    }
}

.ligneSeparation {
    background-color: var(--color-black);
    width: 2px;
    height: 150px;
}
