footer {
    background-color: var(--color-white);

    .contenuFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 200px;

        @media screen and (max-width: $breakpoint-xs) {
            padding: var(--spacing-xs);
        }

        .telephoneFooter {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 40%;

                @media screen and (max-width: $breakpoint-xs) {
                    display: none;
                }
            }
        }

        .media {
            .icon {
                color: black;

                @media screen and (max-width: $breakpoint-xs) {
                    width: 20%;
                }
            }
        }
    }

    .copyright {
        background-color: var(--color-primary);
        p {
            margin: 0;
            padding: var(--spacing-xs);

            font-family: var(--font-secondary);
            font-weight: 700;

            @media screen and (max-width: $breakpoint-xs) {
                font-size: var(--font-size-content-mobile);
            }
        }
    }
}

.ligneSeparation {
    background-color: var(--color-black);
    width: 2px;
    height: 150px;

    @media screen and (max-width: $breakpoint-xs) {
        display: none;
    }
}
