.forfait {
    background-image: url(../../assets/images/backgroundSite2.png);
    background-repeat: repeat-y;
    padding-bottom: var(--spacing-md);

    h2 {
        padding: var(--spacing-md) 0 var(--spacing-xl) 0;
    }
    .swiper-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: var(--spacing-lg);
        .swiper-slide {
            background-color: var(--color-white);
            border-radius: 10px;
            border: var(--color-secondary) solid 1px;
            box-shadow: -6px 3px 0 var(--color-primary);
            text-align: center;

            padding: var(--spacing-sm);
            p {
                font-family: var(--font-secondary);
                margin: var(--spacing-md) 0;

                &.prixForfait {
                    font-size: var(--font-size-h3);
                    font-weight: 700;
                    margin: var(--spacing-sm) 0;
                }
            }

            button {
                background-color: var(--color-primary);
                border: none;
                border-radius: 8px;
                padding: var(--spacing-xs) var(--spacing-md);
                color: var(--color-white);
                font-weight: 600;
                font-size: var(--font-size-button);
            }
        }
    }
}
