header {
    /* ==========================================================================
     NAVIGATION (en générale)
     ========================================================================== */
    nav {
        background-color: var(--color-white);
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                list-style-type: none;
            }
            ul {
                width: 55%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .languePrincipale {
                width: 3.5%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .CTA {
                a {
                    background-color: var(--color-primary);
                    border-radius: 8px;
                    padding: var(--spacing-xs) var(--spacing-md);
                    color: var(--color-white);
                    font-weight: 600;
                    font-size: var(--font-size-button);

                    &:hover {
                        color: var(--color-white);
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    /* ==========================================================================
     NAVIGATION PRINCIPALE
     ========================================================================== */
    .navPrincipale {
        padding: var(--spacing-sm) 0;
        @media screen and (max-width: $breakpoint-md) {
            display: none;
        }
    }

    /* ==========================================================================
     NAVIGATION MOBILE
     ========================================================================== */
    .navMobile,
    .mobileModal {
        display: none;

        @media screen and (max-width: $breakpoint-md) {
            display: block;
        }
    }

    .navMobile {
        padding: var(--spacing-sm) 0;
        position: relative;

        .hamburgerEtLogo {
            background-color: var(--color-white);

            display: flex;
            justify-content: space-between;
            align-items: center;

            position: relative;
            z-index: 2;
        }

        .mobileModal {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            transform: translateY(-100%);
            transition: transform 0.3s ease-out;

            z-index: 1;
            background-color: var(--color-white);

            .wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                ul {
                    width: 40%;
                    flex-direction: column;

                    li {
                        padding-top: var(--spacing-xs);
                    }
                }

                .languePrincipale {
                    margin-top: -10%;
                }
            }

            &.open {
                transform: translateY(0);
            }
        }

        .menu-hamburger {
            cursor: pointer;

            span {
                background-color: var(--color-primary);
                display: block;
                height: 10px;
                width: 50px;
                border-radius: 5px;
                margin-bottom: 6.5px;

                transition: 0.3s transform;

                &:nth-child(1) {
                    transform-origin: left top;
                }
                &:nth-child(2) {
                    transform-origin: left top;
                }
                &:nth-child(3) {
                    transform-origin: left bottom;
                }
            }
            &.open {
                span {
                    &:nth-child(1) {
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        transform: scaleX(0);
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }
            }
            &:hover {
                span {
                    border: var(--color-primary) 2px solid;
                    background-color: transparent;
                }
            }
        }
    }
}
