.sectionPartenaires {
    h2 {
        padding: var(--spacing-md) 0 var(--spacing-xl) 0;
    }

    .partenaires {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: var(--spacing-md);
    }

    img {
        cursor: pointer;
    }
}
