.informationMusiccon {
    .joursSatis {
        display: flex;
        justify-content: flex-end;
    }
    .differentsArtistes {
        display: flex;
        justify-content: flex-end;
    }

    p {
        font-size: var(--font-size-h4);
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $breakpoint-sm) {
            font-size: var(--font-size-h4-responsive);
        }
        .emphase {
            font-size: var(--font-size-h3);
            color: var(--color-primary);
            padding: 0 var(--spacing-xs);
            @media screen and (max-width: $breakpoint-sm) {
                font-size: var(--font-size-h3-responsive);
            }
        }

        &.scrollyDate {
            background-image: url(../../assets/images/scrollytelling/pattern1.png);
            background-repeat: no-repeat;
            height: 427px;
            width: 467px;
        }

        &.scrollyJours {
            background-image: url(../../assets/images/scrollytelling/pattern2.png);
            background-repeat: no-repeat;
            height: 434px;
            width: 482px;

            @media screen and (max-width: $breakpoint-sm) {
                height: 184;
                width: 201;
            }
        }

        &.scrollyParticipants {
            background-image: url(../../assets/images/scrollytelling/pattern3.png);
            background-repeat: no-repeat;
            height: 397px;
            width: 681px;
        }

        &.scrollyArtistes {
            background-image: url(../../assets/images/scrollytelling/pattern4.png);
            background-repeat: no-repeat;
            height: 432px;
            width: 420px;
        }
    }
}

.has-js {
    [data-scrolly='FlipfromBottom'] {
        opacity: 0;
        transition: all 0.8s ease-out;
        transform: rotateX(90deg);
        &.is-active {
            opacity: 1;
            transform: rotateX(0deg);
        }
    }

    [data-scrolly='FlipfromLeft'] {
        opacity: 0;
        transition: all 0.8s ease-out;
        transform: rotateY(90deg);

        &.is-active {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
}
