.snackbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 11;

    transition: all 0.4s $ease-out-expo;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: var(--color-white);
        border-radius: 10px 10px 0 0;
        padding: 0 var(--spacing-xl);

        @media screen and (max-width: $breakpoint-xs) {
            padding: 0 var(--spacing-sm);
        }

        a {
            text-decoration: underline;
            @media screen and (max-width: $breakpoint-xs) {
                font-size: var(--font-size-content-mobile);
            }
        }

        p {
            @media screen and (max-width: $breakpoint-xs) {
                font-size: var(--font-size-content-mobile);
            }
        }

        .icon {
            transition: all 0.4s $ease-out-expo;
            cursor: pointer;
            &:hover {
                transform: rotate(90deg);
            }
        }
    }

    .snackbar-down & {
        transform: translateY(100%);
    }
}
