/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-lg;
    width: calc(100% - var(--spacing-md));
    margin: 0 auto;

    @media screen and (max-width: $breakpoint-sm) {
        width: calc(100% - var(--spacing-xl));
    }
}

.site-container {
    max-width: $breakpoint-xl;
}

// Utilisation du css Layout Grid pour faire le wrapper
.grid-wrapper {
    display: grid;
    grid-template-columns: auto minmax($breakpoint-xs, $breakpoint-md) auto;
    grid-column-gap: 30px;
}

.grid-center {
    grid-column: 2/3;
}
