/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #0c0f0a;

    // Couleurs du projet
    --color-primary: #f57c78;
    --color-secondary: #a5a886;

    //couleur Forms
    --color-fail: #f13a3a;
}
