/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #0c0f0a;

    // Couleurs du projet
    --color-primary: #aaff00;
    --color-secondary: #00a2ff;
}
