/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Fredoka One', cursive;
    --font-secondary: 'Balsamiq Sans', cursive;
    --font-tertiary: 'Karma', serif;

    --font-size-content: 1.125rem;

    --font-size-button: 1.4rem;

    --font-size-liens: 1.25rem;

    /// Grosseur des textes
    --font-size-h1: 12rem;
    --font-size-h2: 5rem;
    --font-size-h3: 3rem;
    --font-size-h4: 2rem;
}
