/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Fredoka One', cursive;
    --font-secondary: 'Balsamiq Sans', cursive;
    --font-tertiary: 'Karma', serif;

    --font-size-content: 1.125rem;

    --font-size-button: 1.4rem;

    --font-size-liens: 1.25rem;

    /// Grosseur des textes
    --font-size-h1: 12rem;
    --font-size-h2: 5rem;
    --font-size-h3: 3rem;
    --font-size-h4: 2.25rem;

    /// Grosseur des textes en responsive tablette
    --font-size-h1-responsive: 8rem;
    --font-size-h2-responsive: 3rem;
    --font-size-h3-responsive: 2.25rem;
    --font-size-h4-responsive: 1.5rem;

    --font-size-content-responsive: 1rem;

    /// Grosseur des textes en responsive tablette
    --font-size-h1-mobile: 5rem;
    --font-size-h2-mobile: 1.5rem;
    --font-size-h3-mobile: 1.4rem;
    --font-size-h4-mobile: 1.25rem;

    --font-size-content-mobile: 0.75rem;
}
